.set_menu{
    float: left;
    width: 300px;
    background-color: white;
    height: 780px;
    margin-left: 400px;
    margin-top: 20px;
}
.set_menu_title{
    width: 100%;
    background-color: #666666;
    min-height: 30px;
    text-align: center;
    padding-top: 3px;
    color: white;
}
.set_result{
    text-align: center;
    font-size: 20px;

}
.set_result a{
    text-decoration: none;
}
.set_result:hover{
    color: #28a4c9;
}
.set_add{
    text-align: center;
    font-size: 26px;
    border: dotted #b9def0;


}
.set_add:hover{
    cursor: pointer;
    color: #28a4c9;
    border: solid;
}
.interface-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 240px;
    margin-left: -100px;
    margin-top: -350px;
    background-color: #eeeeee;
    z-index: 20;
}
.set_result a:hover{
    cursor: pointer;
}
.set_detail{
    width: 1000px;
    height: 780px;
    background: white;
    float: right;
    margin-right: 100px;
    margin-top: 20px;
}
.set_header{
    height: 50px;
    border-bottom: solid 1px;
    width: 100%;

}
.set_header input{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}
.add_inter{
    position: fixed;
    width: 600px;
    height: 400px;
    background-color:white ;
    margin-left: 600px;
    margin-top: 200px;
    z-index: 21;
}
.add_inter_header{
    width: 100%;
    height: 10%;
    border-bottom: solid 1px;
    line-height: 50px;
}
.add_inter_header span{
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;

}
.set_bottom{
    height: 50px;
    width: 100%;
    margin-bottom: 0px;
}
.set_body{
    height: 80%;
}
.set_bottom input{
    float: right;
    margin: 2px 4px;
}