<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/user.css"
</head>
<body class="home_body">
    <div class="home-header">
        <div class="user-info">{{ username }}
            <div class="user-logout">
                <a href="/logout">退出登录</a>
            </div>
        </div>
        <div class="project-content">
            <div class="project-header">
                <span>用户名称:&nbsp&nbsp</span><input type="text" placeholder="请输入用户名称" name="query_project">
                <input type="button" value="查询" id="project-q">
                <input  class="user-new" type="button" value="新增用户" >
            </div>
            <div class="project-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名称</th>
                            <th>修改时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in user %}
                            <tr project-id={{ i.id }}>
                                <td>{{ forloop.counter}}</td>
                                <td>{{ i.username }}</td>
                                <td>{{ i.create_time|date:"Y.m.d" }}</td>
                                <td>
                                    <a  class="user-edit">编辑</a>
                                    <a  class="user-delete">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="home-pagination">
                <span class="step-links">
                    <span class="current" >共{{ user.paginator.num_pages }}页</span>
                    {% if user.has_previous %}
                        <a href="?page={{ user.previous_page_number }}">上一页</a>
                    {% endif %}
                    <span >
                        第 {{ user.number }} 页
                    </span>
                    {% if user.has_next %}
                        <a href="?page={{ user.next_page_number }}">下一页</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="home_menu">
        <div class="home-title">
           接口测试管理平台
        </div>
        <div class="home-lines">
            <a href="/api_project/">项目管理</a>
            <a href="/API/">接口管理</a>
            <a href="/Interface/">测试用例管理</a>
            <a href="/Interface_set/">测试报告管理</a>
            <a class="active">用户管理</a>
        </div>
    </div>
    <div class="home-show hide"></div>
    <div class="user-modal hide">
        <form id="user-add" class="project-form">
            <div  class="form-title">新增用户</div>
            <input type="hidden" name="project-id">
            <li>用户名称：<input type="text" name="projectname"  class="input"></li>
            <li>用户密码：<input type="text" name="projectver"   class="input"></li>
            <li>项目地址：<input type="text" name="projecturl"   class="input"></li>
            <input type="button" value="确定" class="button">
            <input type="button" value="取消" class="button">
        </form>
    </div>
    <script src="/static/js/jquery-1.12.4.js"></script>
    <script src="/static/js/project.js"></script>
    <script src="/static/js/user.js"></script>
</body>
</html>